Hi <%= @first_name %>,</br>
<p>
  The work "<%= @obj_name %>" which you are reviewing has been resubmitted. You may log into Expertiza at <a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>
  to view your submission now.
 </p>
<br/>

