Hi <%= @first_name %>,</br>
<p>
  You have cleared the waitlist for assignment "<%= @obj_name %>". You may log into Expertiza at <a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>
  to view your assigned work now.
 </p>
<br/>

