Hi <%= @first_name %>,</br>
<p>
  Your review of "<%= @obj_name %>" has been metareviewed. You may log into Expertiza at <a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>
  to view the metareview now.
 </p>
<br/>

