Hi <%= @first_name %>,</br>
<p>
  The author(s)of the work "<%= @obj_name %>" have given feedback on your review. You may log into Expertiza at <a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>
  to view the feedback now.
 </p>
<br/>

