Hi <%= @first_name %>,</br>
<p>
  Your work "<%= @obj_name %>" has just been reviewed. You may log into Expertiza at <a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>
  to view the review now.
 </p>
<br/>

