Hi <%= @first_name %>,</br>
<p>
  Your teammate of project "<%= @obj_name %>" has just reviewed you. You may log into Expertiza at <a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>
  to view the teammate review now.
 </p>
<br/>

